h1,
h2,
h3,
p,
li {
  font-family: sans-serif;
}

h1 {
  font-size: 26px;
  text-transform: uppercase;
  font-style: italic;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 20px;

  text-transform: uppercase;
  text-align: center;
}
p {
  font-size: 22px;

  line-height: 1.5;
}

li {
  font-size: 20px;
}

footer p {
  font-size: 16px;
}

/* 
------------------------------------------------------
STYLING TEXT
------------------------------------------------------
1. We do not style the ul or the ol element instead we style the li elements

2. default font size is 16 px

3. The elements that were inside of the paragraphs also got the same styles. This is because of a mechanism called inheritance 

4. text-align centers the element inside its parent element
------------------------------------------------------
COMBINING SELECTORS
------------------------------------------------------
1. It is not good to repeat same code such as font-family per se.

2. We can create a list of selectors by , so that we need to change similar properties in just one place

3. Descendant selector selects all the child elements inside of a element. We can also nest these.

4. These are not very robust solutions as if the code changes in future there might be lots of bugs arising.


*/
