h1 {
  font-size: 26px;
  font-family: sans-serif;
  text-transform: uppercase;
  font-style: italic;
}

h2 {
  font-size: 40px;
  font-family: sans-serif;
}

h3 {
  font-size: 30px;
  font-family: sans-serif;
}

h4 {
  font-size: 20px;
  font-family: sans-serif;
  text-transform: uppercase;
  text-align: center;
}
p {
  font-size: 22px;
  font-family: sans-serif;
  line-height: 1.5;
}

li {
  font-size: 20px;
  font-family: sans-serif;
}

/* 
------------------------------------------------------
STYLING TEXT
------------------------------------------------------
1. We do not style the ul or the ol element instead we style the li elements

2. default font size is 16 px

3. The elements that were inside of the paragraphs also got the same styles. This is because of a mechanism called inheritance 

4. text-align centers the element inside its parent element
------------------------------------------------------
*/
